body {
  font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
}
header {
  text-align: center;
  color: white;
  max-width: 100%;
  background-color: #84aff4;
  padding: 25px;
}
footer {
  margin-top: 50px;
  text-align: center;
}
input{
  padding: 10px 15px;
  margin: 8px 0;
  box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  width: 200px;

}
input:focus {
  border: 3px solid #555;
  outline: none;
}
.newQ {
  height: 100px;
  margin-bottom: 50px;
}
.newQ2{
  position: relative; left: 40%;
  width: 20%;
  height: 100px;
  color: white;
  border: none;
  padding: 4px 4px;
  background-color: #5cd688;
}
.postQ {
  width: 15%;
  height: 50px;
  color: white;
  border: none;
  padding: 4px 4px;
  background-color: #5cd688;
}
.details {
  margin-left: 20px;
  padding: 10px;
  margin-bottom: 10px;
}
.deleteB {
  position: relative; left: 75%; bottom: 10%;
  width: 20%;
  height: 50px;
  color: white;
  border: none;
  padding: 4px 4px;
  background-color: #e56767;
}
.deleteB2 {
  width: 20%;
  height: 50px;
  color: white;
  border: none;
  padding: 4px 4px;
  background-color: #e56767;
}
.deleteA {
  width: 20%;
  height: 30px;
  color: white;
  border: none;
  padding: 4px 4px;
  background-color: #e56767;
}
.editB{
  width: 20%;
  height: 50px;
  color: white;
  border: none;
  padding: 4px 4px;
  background-color: #68e4ed;
}
.question {
  text-align: center;
}
.asked {
  margin-left: 20px;
}
.postAn{
  width: 10%;
  height: 45px;
  color: white;
  border: none;
  padding: 4px 4px;
  background-color: #5cd688;
}
.answer {
  width: 100%;
  height: 45px;
  color: white;
  border: none;
  padding: 4px 4px;
  background-color: #5cd688;
}
.answer2 {
  margin-left: 35px;
}
.answerList{
  list-style-type: none;
  font-size: 16px;
  margin: 40px;
}
.answerForm {
  margin-left: 100px;
}
#detailsT {
  font-size: 40px;
  margin-left: 20px;
}
