<nav class="navbar navbar-default">
  <a class="navbar-brand" href="#">Alvaro Answers</a>
  <ul class="nav navbar-nav">
  <li>{{#link-to 'index'}}Home{{/link-to}}</li>
  <li>{{#link-to 'about'}}About{{/link-to}}</li>
  <li>{{#link-to 'contact'}}Contact{{/link-to}}</li>
  </ul>
</nav>

<div>
  {{outlet}}
</div>

<footer>
  Alvaro @epicodus
</footer>
