{{#each model as |question|}}
  <h1>Question:{{#link-to 'question' question.id}}{{question.question}}{{/link-to}}-{{question.author}}</h1>
  
  {{delete-question question=question deleteQuestion="deleteQuestion"}}
{{/each}}
{{new-question postQuestion="postQuestion"}}
